.main {
    margin-top: 30px;
}

.heading {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.submitButton {
    width: 60%;
}

.invalid, .invalid:focus {
    border: 1px solid red !important;
}